.featuredImage {
  background-image: url("../../../assets/home/featured.jpg");
  position: absolute;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(5px);
  z-index: -1;
  opacity: 0.5;
}
